{{#if user.username}}
<div style="background-image: url('images/bannerbackground.jpg');">

<div class= "logo"><h1>HERO FOODS</h1></div>
</div>
<a href= "/"><img src="images/buttonmenu.jpg" id= "menuimg"></a>
                                    {{#if user.username}}
            <a href="/logout"> <img src="images/buttonlogout.jpg" id= "menuimg"></a>
            {{else}}
            <a href="/login"> <img src="images/buttonlogin.jpg" id= "menuimg"></a>
            {{/if}}
            <a href="/registration"> <img src="images/buttonregister.jpg" id= "menuimg"></a>
            <a href="/MealPkg"> <img src="images/buttonmeal.jpg" id= "menuimg"></a>




<fieldset class= "loginfield">

            <form method="POST" action="/addMeals">
            <legend>Add Meals</legend>
            <br>
            <label for="mealName" id="meal">Meal Name:</label></br>
            <input type="text" id="meal" name="mealPackageName"></br></br>
            <br>
            <label for="mealPrice" id="meal">Meal Price:</label></br>
            <input type="text" id="meal" name="mealPackagePrice"></br>
            <br>
            <label for="mealDesc" id="meal">Meal Description:</label></br>
            <input type="text" id="meal" name="mealPackageDesc"></br>
            <br>
            <label for="mealType" id="meal">Meal Type(food category):</label></br>
            <input type="text" id="meal" name="mealPackageType"></br>
            <br>
            <label for="mealTop" id="meal">Is this meal a top package? (Enter y if yes):</label></br>
            <input type="text" id="meal" name="topPackage" pattern="[yY]"></br>
            <br>
            <input type="submit" name="submit" value="ADD MEAL">

            </br></br></br></br></br></br></br>
            </form>
            </legend>
            </fieldset>

{{else}}
    <h2>Error you are not logged in!</h2>
{{/if}}