
<div style="background-image: url('images/bannerbackground.jpg');">
<a name="top"></a>
<h2 class= logo><img src="images/herofoodbanner.png"></h2>

    <div id= menu>
            <a href= "/"><img src="images/buttonmenu.jpg" id= "menuimg"></a>
            <a href="/login"> <img src="images/buttonlogin.jpg" id= "menuimg"></a>
            <a href="/registration"> <img src="images/buttonregister.jpg" id= "menuimg"></a>
            <a href="/MealPkg"> <img src="images/buttonmeal.jpg" id= "menuimg"></a>
        </div>
        </div>
          </br>
<body>


</br></br></br></br></br></br></br>
<div class ="row">
<div id=items></div>
</div>
<footer>
<a href="#top">Back to top of page</a>
</footer>
</div>
</body>

</body>